/*reset*/
// @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body,html,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,p {margin:0; padding:0;}
body {font-family: 'Noto Sans KR', sans-serif;}
ul,ol,dl,li {list-style:none;}
img {vertical-align:top; border:0;}
input,button {vertical-align:middle;}
a {text-decoration:none; color:#5b5b5b;}
i {font-style:normal;}

/*option*/
@color-main:#5b5b5b;
.fl {float:left;}
.fr {float:right;}

header {
  width:1920px;
  height:120px;
  line-height: 120px;
  background-color: rgba(255,255,255,0.4);
  position:fixed;
  top:0;
  z-index: 20000;
  box-shadow: 0 5px 10px #bababa;
  .gnb {
    // outline: 1px #F00 solid;
    width: 1240px;
    height: 120px;
    margin: 0 auto;
    .logo{
      width: 60px;
      height: 51px;
      margin:30px 75px 0 0;
    }
    .site_option {
      margin-top :47px;
      width: 168px;
      .search {
        // margin-left: 24px;
      }
      .login {
        margin-left: 24px;
      }
      .sitemap {
        margin-left: 24px;
      }
    }
    .menu {
      width: 884px;
      margin-left:220px;
      li {
        float:left;
        margin :50px 70px 0 0;
        a{
          font-size: 18px;
        }
      }
    }
  }
}
