body {
    background-color: #f4f5f7;
    .contents {
        text-align: center;
        width: 1240px;
        height: 3350px;
        margin: 200px auto;
        background-color: #fff;
        border-radius: 7px;
        .subject{
            padding: 95px 0 13px;
            span{
                display: block;
                text-align: center;
            }
            span:nth-child(1){
                text-transform: capitalize;
                font-size: 25px;
                color:#5C5C5C;
            }
            span:nth-child(2){
                text-transform: uppercase;
                font-size: 14px;
                color:#B0B0B0;
            }
        }
        .quotation {
            width: 515px;
            margin: 0 auto;
            span:nth-child(1) {
                float:left;
            }
            span:nth-child(2) {
                float:right;
            }
        }
        .txt {
            color:#838383;
            overflow: visible;
            display: block;
            text-align: center;
            margin:20px 0 50px;
        }
        .img{
            img{
                width: 640px;
                margin-bottom: 58px;
            }
        }
        .summary {
            width: 845px;
            height: 58px;
            line-height: 58px;
            border-top: 0.25px #A9A8A8 solid;
            border-bottom : 0.25px #A9A8A8 solid;
            margin : 0 auto;
            float:none;
            span {
                margin-left:10px;
                background-image: url(../assets/images/source/bar.png);
                background-repeat: no-repeat;
                background-position: 10px center;
                img {
                    vertical-align: middle;
                    margin-left: 5px;
                }
            }
        }
        .directions {
            text-align: left;
            margin-left:110px;
            p {
                margin-bottom: 30px;
            }
            span:nth-child(1) {
                display: block;
                margin: 50px 0 20px;
                color:#676767;
                font-size: 14px;
                img {
                    margin-right: 10px;
                }
            }
            span:nth-child(2) {
                color:#ABABAB;
                font-size: 12px;
            }
        }
        .steps {
            text-align: left;
            margin-left:110px;
            span:nth-child(1) {
                display: block;
                margin: 50px 0 20px;
                color:#676767;
                font-size: 14px;
                img {
                    margin-right: 10px;
                }
            }
            .first {
                span {
                    margin: 0 10px 0 0;
                }

            }
        }

    }
}
