/*reset*/
/* line 3, assets\less\common.less */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
p {
  margin: 0;
  padding: 0;
}
/* line 4, assets\less\common.less */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
/* line 5, assets\less\common.less */
ul,
ol,
dl,
li {
  list-style: none;
}
/* line 6, assets\less\common.less */
img {
  vertical-align: top;
  border: 0;
}
/* line 7, assets\less\common.less */
input,
button {
  vertical-align: middle;
}
/* line 8, assets\less\common.less */
a {
  text-decoration: none;
  color: #5b5b5b;
}
/* line 9, assets\less\common.less */
i {
  font-style: normal;
}
/*option*/
/* line 13, assets\less\common.less */
.fl {
  float: left;
}
/* line 14, assets\less\common.less */
.fr {
  float: right;
}
/* line 16, assets\less\common.less */
header {
  width: 100%;
  height: 96px;
  line-height: 96px;
  background-color: #F8FBFC;
  position: fixed;
  top: 0;
  z-index: 20000;
  box-shadow: 0 5px 10px rgba(186, 186, 186, 0.5);
}
/* line 25, assets\less\common.less */
header .gnb {
  width: 1240px;
  height: 96px;
  margin: 0 auto;
}
/* line 30, assets\less\common.less */
header .gnb .logo {
  width: 60px;
  height: 51px;
  margin: 25px 75px 0 30px;
}
/* line 34, assets\less\common.less */
header .gnb .logo img {
  width: 80%;
}
/* line 38, assets\less\common.less */
header .gnb .site_option {
  margin-top: 39px;
}
/* line 40, assets\less\common.less */
header .gnb .site_option img {
  width: 13%;
}
/* line 47, assets\less\common.less */
header .gnb .site_option .login {
  margin-left: 24px;
}
/* line 50, assets\less\common.less */
header .gnb .site_option .sitemap {
  margin-left: 24px;
}
/* line 54, assets\less\common.less */
header .gnb .menu {
  width: 884px;
  margin-left: 240px;
}
/* line 57, assets\less\common.less */
header .gnb .menu li {
  float: left;
  margin: 42px 70px 0 0;
}
/* line 60, assets\less\common.less */
header .gnb .menu li a {
  font-size: 18px;
}
/* line 63, assets\less\common.less */
header .gnb .menu li img {
  width: 80%;
}
/* line 1, assets\less\style.less */
.main {
  position: relative;
  z-index: 10;
}
/* line 6, assets\less\style.less */
section .section1 {
  width: 100%;
  height: 1250px;
  padding-top: 90px;
  text-align: center;
  background-color: #f4f5f7;
}
/* line 12, assets\less\style.less */
section .section1 span {
  display: block;
  color: #868686;
}
/* line 16, assets\less\style.less */
section .section1 span:nth-child(1) {
  font-size: 21px;
  color: #231f20;
}
/* line 20, assets\less\style.less */
section .section1 img {
  margin: 24px 0 27px;
}
/* line 22, assets\less\style.less */
section .section1 .contents1 {
  position: relative;
  width: 1300px;
  height: 891px;
  margin: 75px auto 0;
}
/* line 28, assets\less\style.less */
section .section1 .contents1 ul {
  width: 1350px;
}
/* line 30, assets\less\style.less */
section .section1 .contents1 ul li {
  background-color: #fff;
  width: 300px;
  height: 428px;
  float: left;
  margin: 0 33.333px 33.333px 0;
}
/* line 36, assets\less\style.less */
section .section1 .contents1 ul li img {
  margin: 0 0 13px;
  width: 300px;
  height: 300px;
}
/* line 42, assets\less\style.less */
section .section1 .contents1 ul li span img {
  width: 90px;
  height: 15px;
  margin: 15px 0 10px;
}
/* line 50, assets\less\style.less */
section .section1 .contents1 .btn_more {
  margin: 45px 0;
}
/* line 55, assets\less\style.less */
section .section2 {
  outline: 1px #f00 solid;
  width: 100%;
  height: 602px;
  padding-top: 90px;
  text-align: center;
  background-color: #fff;
}
/* line 62, assets\less\style.less */
section .section2 span {
  display: block;
  color: #868686;
}
/* line 66, assets\less\style.less */
section .section2 span:nth-child(1) {
  font-size: 21px;
  color: #231f20;
}
/* line 70, assets\less\style.less */
section .section2 img {
  margin: 24px 0 37px;
}
/* line 73, assets\less\style.less */
section .section2 .contents2 {
  width: 100%;
  height: 300px;
  outline: 1px #f00 solid;
}
/* line 1, assets\less\recipe.less */
body {
  background-color: #f4f5f7;
}
/* line 3, assets\less\recipe.less */
body .contents {
  position: relative;
  text-align: center;
  width: 1240px;
  height: 100%;
  padding: 80px 0 40px;
  margin: 130px auto 0;
  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;
}
/* line 13, assets\less\recipe.less */
body .contents span[class$="_sb"] {
  color: #676767;
  font-size: 14px;
  display: block;
  margin: 50px 0 20px 110px;
  text-align: left;
}
/* line 19, assets\less\recipe.less */
body .contents span[class$="_sb"] img {
  margin-right: 10px;
  vertical-align: middle;
}
/* line 24, assets\less\recipe.less */
body .contents span[class$="_txt"] {
  color: #ABABAB;
  font-size: 12px;
  text-align: left;
  display: block;
  margin-left: 110px;
}
/* line 32, assets\less\recipe.less */
body .contents .top_section .subject {
  padding-bottom: 13px;
}
/* line 34, assets\less\recipe.less */
body .contents .top_section .subject span {
  display: block;
  text-align: center;
}
/* line 38, assets\less\recipe.less */
body .contents .top_section .subject span:nth-child(1) {
  text-transform: capitalize;
  font-size: 23px;
  color: #5C5C5C;
}
/* line 43, assets\less\recipe.less */
body .contents .top_section .subject span:nth-child(2) {
  text-transform: uppercase;
  font-size: 13px;
  color: #B0B0B0;
}
/* line 49, assets\less\recipe.less */
body .contents .top_section .quotation {
  width: 515px;
  margin: 0 auto;
  overflow: hidden;
  margin: 0 auto 25px;
}
/* line 55, assets\less\recipe.less */
body .contents .top_section .quotation span:nth-child(1) {
  float: left;
}
/* line 61, assets\less\recipe.less */
body .contents .top_section .quotation span:nth-child(2) {
  float: right;
}
/* line 63, assets\less\recipe.less */
body .contents .top_section .quotation span:nth-child(2) img {
  margin-top: 30px;
}
/* line 68, assets\less\recipe.less */
body .contents .top_section .txt {
  font-size: 14px;
  color: #838383;
  overflow: visible;
  display: block;
  text-align: center;
  margin-top: 20px;
}
/* line 77, assets\less\recipe.less */
body .contents .top_section .img img {
  width: 640px;
  margin-bottom: 58px;
}
/* line 82, assets\less\recipe.less */
body .contents .top_section .summary {
  width: 845px;
  height: 58px;
  line-height: 58px;
  border-top: 0.25px #D3D1D1 solid;
  border-bottom: 0.25px #D3D1D1 solid;
  margin: 0 auto;
  float: none;
  color: #5C5C5C;
}
/* line 92, assets\less\recipe.less */
body .contents .top_section .summary ul li {
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  background-image: url(../images/source/bar2.png);
  background-repeat: no-repeat;
  background-position: 0 center;
}
/* line 99, assets\less\recipe.less */
body .contents .top_section .summary ul li img {
  vertical-align: middle;
  margin: 0 5px 0 10px;
}
/* line 104, assets\less\recipe.less */
body .contents .top_section .summary ul li:first-child {
  background: none;
}
/* line 110, assets\less\recipe.less */
body .contents .left_section {
  width: 815px;
  height: 100%;
}
/* line 114, assets\less\recipe.less */
body .contents .left_section .directions p {
  margin-bottom: 30px;
}
/* line 119, assets\less\recipe.less */
body .contents .left_section .steps span[class^="step_"] {
  overflow: hidden;
  height: 100%;
}
/* line 122, assets\less\recipe.less */
body .contents .left_section .steps span[class^="step_"] p {
  margin-bottom: 30px;
}
/* line 126, assets\less\recipe.less */
body .contents .left_section .steps .step_icon {
  margin: 0 10px 0 0;
}
/* line 128, assets\less\recipe.less */
body .contents .left_section .steps .step_icon img {
  vertical-align: middle;
}
/* line 132, assets\less\recipe.less */
body .contents .left_section .steps .step_img {
  width: 615px;
  height: 200px;
  color: #ABABAB;
  font-size: 12px;
}
/* line 137, assets\less\recipe.less */
body .contents .left_section .steps .step_img img {
  width: 200px;
  height: 200px;
  margin: 0 5px 20px 0;
}
/* line 144, assets\less\recipe.less */
body .contents .left_section .tag {
  clear: both;
}
/* line 148, assets\less\recipe.less */
body .contents .right_section {
  position: absolute;
  right: 0;
  width: 300px;
  margin-right: 110px;
}
/* line 153, assets\less\recipe.less */
body .contents .right_section span[class$="_sb"] {
  color: #676767;
  font-size: 14px;
  display: block;
  margin: 0 auto 15px;
  padding-top: 15px;
  text-align: center;
}
/* line 160, assets\less\recipe.less */
body .contents .right_section span[class$="_sb"] img {
  margin-right: 10px;
}
/* line 164, assets\less\recipe.less */
body .contents .right_section span[class$="_txt"] {
  margin-left: 0;
  text-align: center;
  margin-bottom: -4px;
}
/* line 168, assets\less\recipe.less */
body .contents .right_section span[class$="_txt"] li {
  color: #ABABAB;
  font-size: 12px;
  display: block;
  height: 20px;
  line-height: 20px;
  margin: 7px auto ;
  text-align: left;
  padding-bottom: 3px;
  border-bottom: 1px #E7E7E7 solid;
}
/* line 178, assets\less\recipe.less */
body .contents .right_section span[class$="_txt"] li img {
  margin: 4px 13px 0;
}
/* line 182, assets\less\recipe.less */
body .contents .right_section span[class$="_txt"] li:last-child {
  border: none;
}
/* line 186, assets\less\recipe.less */
body .contents .right_section .ingredient {
  outline: 3px #F4F5F7 solid;
  width: 274px;
  height: 100%;
  border-radius: 4px;
  margin: 50px 0 0 23px;
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 195, assets\less\recipe.less */
body .contents .right_section .nutritional_information {
  outline: 3px #F4F5F7 solid;
  width: 274px;
  height: 223px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 50px 0 0 23px;
}
/* line 203, assets\less\recipe.less */
body .contents .right_section .nutritional_information ul {
  width: 300px;
}
/* line 205, assets\less\recipe.less */
body .contents .right_section .nutritional_information ul li {
  float: left;
  width: 77px;
  height: 77px;
  background-color: #F4F5F7;
  border-radius: 4px;
  margin: 0 10px 10px 0;
  padding-top: 20px;
  box-sizing: border-box;
}
/* line 214, assets\less\recipe.less */
body .contents .right_section .nutritional_information ul li span {
  display: block;
  text-align: center;
}
/* line 218, assets\less\recipe.less */
body .contents .right_section .nutritional_information ul li span:nth-last-child(even) {
  color: #676767;
  font-weight: 500;
}
/* line 222, assets\less\recipe.less */
body .contents .right_section .nutritional_information ul li span:nth-last-child(odd) {
  color: #ABABAB;
}
/* line 226, assets\less\recipe.less */
body .contents .right_section .nutritional_information ul li.a {
  margin-right: 0;
}
/* line 231, assets\less\recipe.less */
body .contents .right_section .bookmark {
  outline: 3px #F4F5F7 solid;
  width: 274px;
  height: 140px;
  border-radius: 4px;
  margin: 50px 0 0 23px;
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 239, assets\less\recipe.less */
body .contents .right_section .bookmark .bookmark_txt {
  background-color: #F4F5F7;
  padding: 25px 0;
  box-sizing: border-box;
}
/* line 248, assets\less\recipe.less */
body .contents .bottom_section .related_recipe {
  width: 100%;
  margin-bottom: 30px;
}
/* line 251, assets\less\recipe.less */
body .contents .bottom_section .related_recipe ul {
  overflow: hidden;
}
/* line 253, assets\less\recipe.less */
body .contents .bottom_section .related_recipe ul li {
  float: left;
  width: 20%;
}
/* line 256, assets\less\recipe.less */
body .contents .bottom_section .related_recipe ul li img {
  width: 100%;
}
/* line 263, assets\less\recipe.less */
body .contents .bottom_section .comment li {
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 266, assets\less\recipe.less */
body .contents .bottom_section .comment li .profile {
  float: left;
  margin-right: 10px;
}
/* line 270, assets\less\recipe.less */
body .contents .bottom_section .comment li span {
  display: block;
  margin-bottom: 3px;
}
/* line 273, assets\less\recipe.less */
body .contents .bottom_section .comment li span img {
  vertical-align: middle;
}
/* line 278, assets\less\recipe.less */
body .contents .bottom_section .comment .re {
  margin-left: 50px;
}
/* line 285, assets\less\recipe.less */
body .copyright {
  width: 1240px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
}
/* line 290, assets\less\recipe.less */
body .copyright span {
  float: left;
  color: #ABABAB;
  font-size: 14px;
  margin-left: 30px;
}
/* line 296, assets\less\recipe.less */
body .copyright span:nth-child(2) {
  margin-left: 542px;
}
/* line 299, assets\less\recipe.less */
body .copyright span:nth-child(3) {
  margin-left: 50px;
}
/* line 301, assets\less\recipe.less */
body .copyright span:nth-child(3) img {
  vertical-align: middle;
}
